
main{
    .container {
        color: whitesmoke;
        background: linear-gradient(155deg, rgba(36,0,0,0.7931547619047619) 29%, rgba(241,25,25,0.6755077030812324) 85%);
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        // min-height: 600px;
        border-radius: 16px;
        border:whitesmoke 2px solid;
        overflow: hidden;
        .imageBox{
            margin: 0 ;
            padding: 0;
            display: flex;
            justify-content: center;
            background: transparent;
            border-end-end-radius:24px ;
            border-start-start-radius:24px ;
            height: 100%;
        }
        h5{
            margin-bottom: 20px;
          
          }
      }
}